[Unit]
Description=Enable Intel Graphics
Before=display-manager.service
After=systemd-modules-load.service multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/hybrid-intel
ExecStop=/bin/sh /usr/bin/hybrid-on
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
