[Unit]
Description=Enable Intel Graphics
Before=display-manager.service

[Service]
ExecStart=/usr/sbin/hybrid-intel
ExecReload=/usr/sbin/hybrid-power

[Install]
WantedBy=graphical.target
